* {
    background:     #0C0F10E5;
    background-alt: #141A1Bff;
    background-sec: #6F8A86FF;
    foreground:     #d3e4dfff;
    selected:       #d3e4dfff;
    active:         #46C08AFF;
    urgent:         #EC3F5DFF;
    highlight:      rgba(111, 138, 134, 0.16);
}
